@charset "utf-8";

body{
    font-family: 'Nanum Gothic', sans-serif;
    overflow-x: hidden;
    min-width:980px;
}
.mb14{margin-bottom: 14px !important;}
.mb16{margin-bottom: 16px !important;}
.mb23{margin-bottom: 23px !important;}
.mr0{margin-right: 0 !important;}
.mr16{margin-right: 16px !important;}
.fw700{font-weight: 700 !important;}

/* header */
.hdTopWrap{background: #0762a1 url(../images/header.jpg) no-repeat center;}
.hdTop{
    height: 90px;width: 980px;margin: 0 auto;
    display: flex;justify-content:space-between;align-items: center;
}
.hdTop h1{
    background: url(../images/main_logo.png) no-repeat center;
    width: 152px;height: 48px;
    text-indent: -9999px;cursor: pointer;
}
.hdTop h1>a{text-indent: -9999px;display: block;height: 48px;}
input[type="text"]{outline: none;}
.hdTop form{position: relative;}
.hdTop .searchInp{
    width: 290px;height: 30px;
    border-radius: 15px;border: 0 none;
    font-size: 14px; color: #717274;
    text-indent: 84px;
}
.hdTop .searchTitle{
    display: block;position: absolute;
    width: 60px;height: 20px;
    background-image: url(../images/searchtext.jpg);
    text-indent: -9999px;
    top: 50%;left: 12px;transform: translateY(-50%);
}
.hdTop .searchBtn{
    display: block;position: absolute;
    width: 20px;height: 20px;
    background: url(../images/search.jpg) no-repeat center;
    top: 50%;right: 15px; transform: translateY(-50%);
    border:0 none;text-indent: -9999px;
}

.hdTop .hd_right{display: flex;justify-content:space-between;align-items: center;}
.hdTop .hd_right h3{
    font-size: 28px;color:#FEFEFF;
    font-weight: 800;letter-spacing:-2px;
    margin-right: 14px;
}
.hdTop .hd_right .sns>li{float: left;margin-right: 6px;height: 24px;}
.hdTop .hd_right .sns>li:last-child{margin-right: 0;}

.hdDownWrap{
    background: #F3F3F3;height: 64px;border-bottom: 5px solid #0E73A7;
}
.hdDownWrap .hdDown{
    width: 980px;margin: 0 auto;
}
.hdDownWrap .hdDown>li{float: left;width:calc( 100% /6 );position: relative;}
.hdDownWrap .hdDown>li.active{background: #0E73A7;}
.hdDownWrap .hdDown>li.active a{color: white;}
.hdDownWrap .hdDown>li:hover a{background: #0E73A7;color: white;}
.hdDownWrap .hdDown>li>a{
    display: block;text-align: center;line-height: 59px;
    font-size: 18px;font-weight: 700;color:#172530;
}
.hdDownWrap .hdDown>li>a:after{
    content:"";
    width: 1px;height: 59px;background: #E6E6E6;
    _display: block;position: absolute;right: 0;top: 0;
}
.hdDownWrap .hdDown>li:first-child>a:before{
    content:"";display: block;
    width: 1px;height: 59px;background: #E6E6E6;
    position: absolute;top: 0;left: 0;
}

/* content */
div#content{
    background-image: url(../images/dot2.png), url(../images/bodybg02.png);
    min-width:980px;background-repeat:repeat, no-repeat;
    background-size: auto, cover;
    background-position:center;
    position: relative;
    _height: 1200px;
}
div#content .conTop{
    width: 980px;margin: 0 auto; padding-top: 56px;
    position: relative;
}

.bal01{
    position: absolute;
    bottom:10px;right: 61px;
    animation-name:bal01;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bal01{
    to{bottom: -64px;right: 61px;}
}
.bal02{
    position: absolute;
    bottom: 17px;right: -31px;
    animation-name:bal02;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform: scale(1.1);
}
@keyframes bal02{to{bottom: 82px;}}
.bal03{
    position: absolute;
    bottom: -112px;right: -61px;
    animation-name:bal03;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bal03{to{bottom: 20px;}}
.bal04{
    position: absolute;
    top: 220px;right: 306px;
    animation-name:bal04;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bal04{to{top: 80px;}}
.bal05{
    position: absolute;
    top: -10px;right: 196px;
    animation-name:bal05;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bal05{to{top: 150px;}}
.bal06{
    position: absolute;
    top: 242px;right: -85px;
    animation-name:bal06;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bal06{
    to{top: 337px;}
}

.air01{
    position: absolute;
    bottom: 100px;left: -487px;
    animation-name:air01;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function:linear;
    transform: scale(0.3) rotate(15deg);
}
@keyframes air01{
    to{
        bottom: 600px;left: 1800px;
        transform: scale(1.2) rotate(15deg);
    }
}
.air02{
    position: absolute;
    top: 346px;right: -200px;
    animation-name:air02;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function:linear;
}
@keyframes air02{
    to{
        top: 56px;right: 1800px;
        transform: scale(2.0);
    }
}


div#content .conTop_left{float: left;margin-right: 41px;}
.rsv_slider{width: 482px;height: 300px;position: relative;}
.rsv_slider .slider01Pager{
    position: absolute;top: 0;left: 0;
    width: 132px;height: 300px;
    background: #006599;
}
.rsv_slider .slider01Pager .bxpager{height: 100%;}
.rsv_slider .slider01Pager .bxpager>a{
    display: block;height: 25%;
    /* text-align: center;color: #E5F4F7;font-size: 16px;font-weight: 700; */
    display: flex;justify-content: center;align-items: center;
    background-image: url(../images/rsvs.png);
    background-repeat: no-repeat;overflow: hidden;
    text-indent: -9999px;
}
.rsv_slider .slider01Pager .bxpager>a:nth-child(1){background-position: 7px 16px;}
.rsv_slider .slider01Pager .bxpager>a:nth-child(2){background-position: 7px -62px;}
.rsv_slider .slider01Pager .bxpager>a:nth-child(3){background-position: 7px -135px;}
.rsv_slider .slider01Pager .bxpager>a:nth-child(4){background-position: 7px -209px;}

.rsv_slider .slider01Pager .bxpager>a:nth-child(1).active{
    background-position: -110px 16px;background-color: #fff;
}
.rsv_slider .slider01Pager .bxpager>a:nth-child(2).active{
    background-position: -110px -62px;background-color: #fff;
}
.rsv_slider .slider01Pager .bxpager>a:nth-child(3).active{
    background-position: -110px -135px;background-color: #fff;
}
.rsv_slider .slider01Pager .bxpager>a:nth-child(4).active{
    background-position: -110px -209px;background-color: #fff;
}



.sliderWrap{position: absolute;right: 0;width: 350px;background: skyblue;}
.slider01>li{
    background: #fff;
    _padding: 28px 36px 23px 36px;width: 350px;
    padding: 10px 36px;
    position: absolute;right: 0;
}
fieldset{border: 0;}
.blind{display: block;position: absolute;left: 0;top: -9999px;}
.form{width: 100%;}
.form label{display: block;padding: 8px 0;font-size: 14px;color:#414141;}
.form select.golo{
    width:276px;height: 32px;
    border: 2px solid #ededed;
    border-radius: 5px;
    text-indent: 10px;color: #c4c4c4;
}
.form .left, .form .right{width: 131px;float: left;}
.form .left{margin-right: 13px;}
.form .left>input, .form .right>input{
    width: 100%;height: 31px;
    font-size: 13px;font-weight: bold;
    border: 2px solid #ededed;
    border-radius: 5px;
    text-indent:1px;color: #c4c4c4;
}
.form .gleft, .form .gright{float: left;}
.form .gleft{margin-right: 21px;width: 117px;}
.form .gleft>select{
    width: 117px;height: 32px;
    border: 2px solid #ededed;
    border-radius: 5px;
    text-indent: 10px;color: #c4c4c4;
}
.form .adult, .form .kids{float: left;}
.form .adult{margin-right: 5px;}
.form .adult>input, .form .kids>input{
    width: 66px;height: 32px;
    font-size: 13px;font-weight: bold;
    border: 2px solid #ededed;
    border-radius: 5px;
    text-indent:15px;color: #c4c4c4;
}
.form .btn_rsv{
    width: 278px;height: 38px;
    background-color: #EA4F1F;
    background-image: url(../images/submit.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;border-radius: 3px;
    text-indent: -9999px;
    cursor: pointer;
}

.conT_card{width: 482px;}
.conT_card>li{
    float: left;margin-right: 16px;position: relative;
    width: 233px;height: 240px;overflow: hidden;
}
.conT_card>li .img01{transition: 0.3s;}
.conT_card>li:hover .img01{transform: scale(1.1);}
.conT_card>li:last-child{margin-right: 0;}

.conT_card .conT_txt{
    width: 233px;height: 50px;
    background: #152630;
    position: absolute;top: 190px;
    display: flex;justify-content:space-between;align-items: center;
    padding-left: 21px;padding-right: 11px;
}
.conT_card .conT_txt h6{font-weight: 700;font-size: 18px;color: #F5F5F5;}
.conT_card .conT_txt p{font-weight: 400;font-size: 18px;color: #6FC562;}

div#content .conTop_right{width: 457px;float: right;position: relative;}
div#content .conTop_right h2{
    font-size: 66px;font-weight: 800;position: relative;
    text-shadow: 0px 0px 5px #FFFFFF;
}
div#content .conTop_right h2:after{
    content: ""; width: 83px;height: 5px;
    background: #152630;
    position: absolute;bottom: 0;right: 105px;
}
div#content .conTop_right p{
    font-size:32px;font-weight: 400;
    line-height: 40px;letter-spacing:-2.5px;
    text-shadow: 0px 0px 5px #FFFFFF;
}

div#content .conM{width: 980px;margin: 0 auto;}
div#content .conM div{float: left;margin-right: 16px;}
div#content .conM .slider02Wrap{width: 233px;height: 240px;position: relative;}
.slider02{position: relative;}
.hotel_txt{
    width: 233px;height: 65px;background: #529351;
    padding: 16px 15px;
    position: absolute;top: 175px;
}
.hotel_txt h6{font-size: 18px;font-weight: 700;color: #FEFEFC;letter-spacing: -1px;}
.n_btn{position: absolute;top: 59px;right:-16px;cursor: pointer;}
.p_btn{position: absolute;top: 59px;left: 0;cursor: pointer;}

.slider02>li{overflow: hidden;width: 233px;height: 240px;}
.slider02>li .img02{transition: 0.3s;}
.slider02>li:hover .img02{transform: scale(1.1);}

div#content .conM .slider03Wrap{width: 233px;height: 240px;position: relative;}
.slider03{position: relative;}
.tour_txt{
    width: 233px;height: 65px;background: #152630;
    padding: 16px 15px;
    position: absolute;top: 175px;
}
.tour_txt h6{font-size: 18px;font-weight: 700;color: #FEFEFC;letter-spacing: -1px;}
.n_btn02{position: absolute;top: 59px;right:-16px;cursor: pointer;}
.p_btn02{position: absolute;top: 59px;left: 0;cursor: pointer;
}
.slider03>li{overflow: hidden;width: 233px;height: 240px;}
.slider03>li .img03{transition: 0.3s;}
.slider03>li:hover .img03{transform: scale(1.1);}

.weather{
    width: 233px;height: 240px;
    position: relative;overflow: hidden;
    cursor: pointer;
}
.weather img{transition: 0.3s;}
.weather:hover img{transform: scale(1.1);}
.weather h3{
    font-size: 20px;font-weight: 700;color: #fff;
    position: absolute;top: 19px;left: 84px;z-index: 1;
}
.weather .w_txt{
    width: 233px;height: 65px;
    position: absolute;top: 175px;left: 0;
    background: rgba(11,19,30,0.7);
}
.weather .w_txt h5{
    position: absolute;top: 12px;left: 18px;
    font-size: 20px;font-weight: 700;color: #fff;
}
.weather .w_txt h6{
    position: absolute;top: 15px;left: 65px;
    font-size: 16px;font-weight: 700;color: #fff;
}
.weather .w_txt p{
    font-size: 14px;font-weight: 700;color: #D0D0D0;
    position: absolute;top: 38px;left: 18px;
}

.facebook{
    width: 233px;height: 240px;
    position: relative;overflow: hidden;
    cursor: pointer;
}
.facebook img{transition: 0.3s;}
.facebook:hover img{transform: scale(1.1);}
.facebook .fb_txt{
    width: 233px;height: 65px;
    background: #44619D;
    position: absolute;top: 175px;
    padding: 14px 17px;
}
.facebook .fb_txt h6{
    font-size: 16px;font-weight: 700;
    color: #FFFFFD;margin-bottom: 5px;
}
.facebook .fb_txt p{
    font-size: 14px;font-weight: 700;
    color: #D9EBFF;
}

div#content .conB{width: 980px;margin: 0 auto;margin-bottom: 30px;}
.conB_warp{width: 980px;height: 240px;}
.conB_warp .conB_card{
    width: 233px;height: 240px;
    position: relative;
    float: left;margin-right: 16px;
    overflow: hidden;
}
.conB_warp .conB_card .bg{
    width: 100%;height: 100%;
    background-color: #000;
    position: absolute;top: 0;
    opacity:0.2;transition: 0.3s;
}
.conB_warp .conB_card>img{transition: 0.3s;}
.conB_warp .conB_card .conB_txt{
    width: 233px;height: 240px;
    position: absolute;top: 0;
    padding-top: 10px;
    /* position: absolute;top: 10px;left: 27px; */
    display: flex;justify-content: flex-start;align-items: center;
    flex-direction: column;
}
.box{position: relative;transition: 0.3s;}
.notice{
    position: relative;
    /* width: 135px;height: 50px; */
    padding: 10px;margin-bottom: 4px;padding-left: 29px;
}
.conB_card:last-child .notice{width: 150px;height: 50px;}
.conB_card:last-child .notice>h5{position: absolute;top: 20px;right: -10px;}
.notice h5{
    position: absolute;top: 20px;right: 30px;
    font-size: 20px;font-weight: 700;
    color: #FFFDFE;
}
.conB_txt h6{
    font-size: 14px;font-weight: 700;
    color: #E9F5F5;margin-bottom: 12px;
}

.circle{
    width: 28px;height: 28px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    transition: 0.3s;
    
}
.circle .bar1, .circle .bar2{
    width: 10px;height: 2px;background: #fff;
    position: absolute;top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}
.circle .bar2{transform: translate(-50%,-50%) rotate(90deg);}

.conB_card:hover .circle{
    transform:rotate(180deg);
}
.conB_card:hover .bg{opacity: 0.7;}
.conB_card:hover>img{transform: scale(1.1);}
.conB_card:hover .box{transform:translateY(120px);}

/* footer */

div#footer{
    width: 980px;margin: 0 auto;height: 80px;
    padding-bottom: 23px;
}
div#footer h1{
    background: url(../images/footer_logo.png) no-repeat center;
    width: 152px;height: 48px;
    text-indent: -9999px;margin-right: 105px;
    float: left;
}
.f_right{float: left;}
.f_right ul>li{
    float: left;font-size: 14px;font-weight: 400;
    margin-right: 23px;margin-bottom: 13px;
}
.f_right p{font-size: 12px;color: #737373;}


/* subpage common*/
body.sub{
    background: #EFEFEF;
    background-image: url(../images/dot2.png);
    min-width:980px;background-repeat:repeat, no-repeat;
    background-size: auto, cover;
    background-position:center;
    overflow-x: scroll;
}
.subContent .subImg{
    height: 290px;
    display: flex;justify-content: center;align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.subContent .subImgTitle{
    text-align: center;transform:translateY(-30px);
}
.subContent .subImgTitle h3{
    font-size: 64px;font-weight: 800;color: #fff;
    _text-shadow: 0 0 10px #fff;
    letter-spacing:-1px;
}
.subContent .subImgTitle p{
    font-size: 18px;font-weight: 400;color: #fff;
    _text-shadow: 0 0 10px #fff;
    padding-top: 5px;
}
.subContent .subImgTitle h3:after{
    content: "";display: block;
    width: 350;height: 2px;
    margin: 5px 0;
    position: relative;bottom: 0;left:3px;
    background: #fff;
}
.subContent .container{
    width: 980px;margin: 0 auto;
}
.subContent .container img{
    display: block;margin: 0 auto;
}
.subContent .location{
    _width: 140px;margin: 0 auto;
    font-size: 14px;
    position: absolute;right: 60px;
}
.subContent .container{
    background: #fff;
    border: 1px solid #d6d6d6;
    border-top: 5px solid #0E73A7;
    border-bottom: 5px solid #0E73A7;
    position: relative;top: -69px;
}
    

/* subpage company*/
.subContent.company .subImg{
    background-image: url(../images/subimg01.jpg);
}
.subContent.company .subImg .subImgTitle{
    position: relative;left: -35px;
}
.building{
    position: absolute;bottom: 31px;right: -73px;
    color: #fff;
}
.subContent.company .container{padding: 58px 0;}

/* subpage citytour */
.subContent.citytour .subImg{
    background-image: url(../images/subimg02.png);
}
.subContent.citytour .subImg .subImgTitle{
    position: relative;left: -50px;
}
.plane{
    position: absolute;bottom: 31px;right: -101px;
    color: #fff;
}
.subContent.citytour .container .location{
    top: 55px;
}

/* subpage hotel */
.subContent.hotel .subImg{
    background-image: url(../images/subimg03.png);
}
.subContent.hotel .subImg .subImgTitle{
    position: relative;left: -15px;
}
.subContent.hotel .title{text-align: left;}
.subContent.hotel .title h3{width: 210px;}
.bed{
    position: absolute;bottom: 21px;right: -26px;
    color: #fff;
}
.subContent.hotel .container .location{
    top: 55px;
}

/* subpage rentcar */
.subContent.rentcar .subImg{
    background-image: url(../images/subimg04.png);
}
.subContent.rentcar .subImg .subImgTitle{
    position: relative;left: -40px;
}
.subContent.rentcar .title{text-align: left;}
.subContent.rentcar .title h3{width: 310px;}
.car{
    position: absolute;bottom: 21px;right: -75px;
    color: #fff;
}
.subContent.rentcar .container .location{
    top: 55px;
}

/* subpage tourtip */
.subContent.tourtip .subImg{
    background-image: url(../images/subimg05.png);
}
.subContent.tourtip .subImg .subImgTitle{
    position: relative;left: -40px;
}
.subContent.tourtip .title{text-align: left;}
.subContent.tourtip .title h3{width: 310px;}
.tip{
    position: absolute;bottom: 31px;right: -45px;
    color: #fff;
}
.subContent.tourtip .container .location{
    top: 55px;
}

/* subpage community */
.subContent.community .subImg{
    background-image: url(../images/subimg06.png);
}
.subContent.community .subImg .subImgTitle{
    position: relative;left: -40px;
}
.subContent.community .title{text-align: left;}
.subContent.community .title h3{width: 410px;}
.subContent.community .title h3:after{width: 435px;}
.commu{
    position: absolute;bottom: 30px;right: -65px;
    color: #fff;
}
.subContent.community .container .location{
    top: 55px;
}