@charset "utf-8";

body{font-family: 'Noto Sans KR', sans-serif;}

/* header */
#header{position: fixed;background: #fff;z-index: 100;width: 100%;height: 76px;}
#header .headWrap{
    width: 1215px;margin: 0 auto;position: relative;
}
.headWrap img{width: 165px;height: 35px;position: absolute;left: 0;margin: 20px 0;}
nav{width: 510px;position: absolute;right: 0;_margin: 0 10px;}
.headWrap li{float: left;width: calc(100% / 3);}
.headWrap li a{
    text-align: center;display: block;line-height: 76px;
    font-size: 20px;font-weight: 700;color:#1e1e1e
}

/* banner */
.bannerWrap{
    /* position: relative; */
    height: 100vh;
    width: 100%;
}
.bx-wrapper {
    -moz-box-shadow: 0 none;
    -webkit-box-shadow: 0 none;
    box-shadow: 0 none;
    border: 0 none;
    margin-bottom: 0;
    background: none;
}
.bannerWrap .slideLi{height: 100vh;}
.sliderBox{position: relative;}
.bannertxt{
    width: 456px;height: 384px;
    position: absolute;top: 50%;left: 350px;margin-top: -130px;;
}
.bannertxt h1{
    font-size: 80px;line-height: 104px;height: 210px;
    font-weight: bold;color: #fff; letter-spacing: -4px;
    margin: 0 0 14px 0; width: 100%;
}
.bannertxt h3{
    font-size: 24px;line-height: 36px;color: #fff;
    letter-spacing: -3px;width: 100%;
}
.bannertxt .bar{
    width: 456px;height: 2px;margin-top: 60px;
    text-align: left;display: block;background-color: #fff;
}
.bannertxt .consol{width: 456px;height: 32px;margin: 30px 0 0 0;position: relative;}
.bannertxt .consol .page{line-height: 32px;font-size: 16px;position: absolute;left: 0;}
.bannertxt .consol .page li{
    float: left;color: #fff;margin-right: 5px;
}
.bannertxt .consol p{
    display: inline-block;line-height: 32px;letter-spacing: -0.6px;font-weight: 500;
    margin-left: 30px;position: absolute;left: 39px;color:#fff
}
.bannertxt .consol .btn{position: absolute;right: 0;}
.bannertxt .consol .btn li{float: left;margin-left: 5px;}
.bannertxt .consol .btn li img{padding: 8px;}
.bannertxt .consol .btn li:hover{background:rgba(256,256,256,0.3);border-radius: 50%;}

/* section */

/* section 1 */
#section1{width: 100%;color: #1e1e1e;}
#section1 .sectionWrap{
    width: 1215px;margin: 0 auto;
    padding: 160px 0;position: relative;
}
#section1 .sectionWrap .sectionU{height: 200px;margin-bottom: 100px;}
#section1 .sectionWrap .sectionU h3{
    font-size: 44px;float: left;
    letter-spacing:-2px;font-weight: 700;
}
#section1 .sectionWrap .sectionU h3:after{
    content:"";display: block;margin-top: 20px;
    width: 70px;height: 5px;background: #FFD44A;
}
#section1 .sectionWrap .sectionU p{
    font-size: 18px;letter-spacing: -0.6px;
    position: absolute;top: 310px;right: 0;
    
}


#section1 .sectionWrap .sectionM{}
#section1 .sectionWrap .sectionM li{
    float: left;width: 384px;
    margin-right: 30px;margin-bottom: 160px;
    cursor: pointer;
}
#section1 .sectionWrap .sectionM li:last-child{margin-right: 0;}

#section1 .sectionWrap .sectionM li:hover .con{
    transform:translateY(-15px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    transition: 0.3s;
}
#section1 .sectionWrap .sectionM li .txt{padding: 20px 16px 0 16px;}
#section1 .sectionWrap .sectionM li .txt .txtU{
    position: relative;font-size: 21px;
    font-weight: 700;letter-spacing:-0.6px;
    margin-bottom: 10px;
}
#section1 .sectionWrap .sectionM li .txt .txtU img{
    position: absolute;left: 113px;top:5px;
}
#section1 .sectionWrap .sectionM li .txt p{
    font-size: 15px;line-height: 24px;
    letter-spacing:-0.6px;
}


#section1 .sectionWrap .sectionD .conbox{position: relative;height: 462px;}
#section1 .sectionWrap .sectionD .conbox .txt2{
    width: 1114px;height: 338px;
    padding: 102px 520px 102px 104px;
    background: #ffd44a;
    position: absolute;
}
#section1 .sectionWrap .sectionD .conbox .txt2 h3{
    font-size: 28px;font-weight: 500;
    letter-spacing:-1px;margin-bottom: 24px;
}
#section1 .sectionWrap .sectionD .conbox .txt2 p{
    font-size: 15px;letter-spacing:-0.6px;font-weight: 500;
}
#section1 .sectionWrap .sectionD .conbox img{position: absolute;right: 0;top: 102px;}

/* section2 */
#section2{background: #f7f8f9;color: #1e1e1e;width: 100%;}
#section2 .section2Wrap{padding: 160px 0;margin: 0 auto;width: 1215px;}

#section2 .section2Wrap .section2_title{position: relative;_margin-bottom: 56px;}
#section2 .section2Wrap .section2_title h3{
    font-size: 44px;font-weight: 700;letter-spacing:-2px;margin-bottom: 28px;
}
#section2 .section2Wrap .section2_title h3:after{
    content:"";display: block;margin-top: 20px;
    width: 70px;height: 5px;background: #FFD44A;
}

#section2 .section2Wrap .section2_title .tap{
    position: absolute;right: 0;top: 60px;
}
#section2 .section2Wrap .section2_title .tap a{
    height: 38px;margin-left: 8px;padding: 0 24px;
    font-size: 14px;font-weight: normal;
    line-height:38px;letter-spacing: -1px;
    cursor: pointer;color: #8a8b8b;
    text-align: center;display: block;float: left;
}
#section2 .section2Wrap .section2_title .tap a.active{
    color: #1E1E1E;background: #F0F1F2;
    font-weight: 500;line-height: 38px;
    height: 38px;border-radius: 19px;
}

#section2 .section2Wrap .bx-wrapper .bx-viewport{
    height: 530px !important;
    width: 1215px !important;
}
#section2 .section2Wrap .section_card{cursor: pointer;}
#section2 .section2Wrap .section_card li{
    width: 360px;height: 466px;background: #fff;
    position: relative;margin: 32px 0;
}
#section2 .section2Wrap .section_card li:hover{
    transform:translateY(-15px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    transition: 0.3s;
}

#section2 .section2Wrap .section_card li .txtbox{
    padding: 32px;letter-spacing:-0.6px;
}
#section2 .section2Wrap .section_card li .txtbox h4{
    font-size: 21px;font-weight: 500;margin-bottom: 12px;
}
#section2 .section2Wrap .section_card li .txtbox h6{
    font-size: 15px;line-height:24px;
    font-weight: 400;
    color:rgba(30,30,30,0.6);
}
#section2 .section2Wrap .section_card li p{
    font-size: 13px;letter-spacing:-0.4px;
    color: rgba(30,30,30,0.4);
    position: absolute;bottom: 32px;left: 32px;
}

/* footer */
footer#footer{background: #171717;width: 100%;padding: 64px 0;}
footer#footer .footerWrap{width: 1215px;margin: 0 auto;position: relative;}
footer#footer .footerWrap .footer_logo{margin-bottom: 26px;}
footer#footer .footerWrap p{
    font-size: 11px;line-height: 20px;
    color:#757575;letter-spacing:-0.6px;
    margin-bottom: 46px;
}
footer#footer .footerWrap .policy>li{
    float: left;font-size: 12px;font-weight: 500;
    line-height: 20px;color:#9b9b9b;letter-spacing:-0.6px;
    margin: 0 14px;position: relative;
    cursor: pointer;
}
footer#footer .footerWrap .policy li:first-child{margin-left: 0;}
footer#footer .footerWrap .policy li:last-child::after{display: none;}
footer#footer .footerWrap .policy li:after{
    content:"";width: 1px;height: 12px;
    background: #9b9b9b;display: block;
    position: absolute;right: -14px;top: 5px;
}

footer#footer .footerWrap .sns{position: absolute;right: 0;bottom: 0;}
footer#footer .footerWrap .sns img{margin-left: 24px;cursor: pointer;}

footer#footer .footerWrap .familysite{
    position: absolute;top: 0;right: 0;
    width: 180px;
}
footer#footer .footerWrap .familysite .fsite{
    background: #080808;color:#747474;
    font-size: 11px;letter-spacing:-0.6px;line-height: 32px;
    width: 100%;height: 32px;
    border: 0 none;text-align: left;padding: 0 25px;
    cursor: pointer;position: relative;display: block;
    font-weight: 700; overflow: hidden;
}
/* footer#footer .footerWrap .familysite button{
    background: #080808;color:#747474;
    font-size: 11px;letter-spacing:-0.6px;line-height: 32px;
    width: 100%;height: 32px;
    border: 0 none;text-align: left;padding: 0 25px;
    cursor: pointer;position: relative;display: block;
    font-weight: 700; overflow: hidden;
}

footer#footer .footerWrap .familysite .fsite{
    position: absolute;right: 0;bottom: 32px;
    background: #080808; padding: 0 8px;width: 180px;
    display: none;
}
footer#footer .footerWrap .familysite .fsite>li{
    border-bottom: 1px solid #1e1e1e;padding: 0 17px;
}
footer#footer .footerWrap .familysite .fsite>li>a{
    color:#747474;
    font-size: 11px;letter-spacing:-0.6px;line-height: 32px;
    font-weight: 500;
} */