@charset "utf-8";
body{font-family: 'Nanum Gothic', sans-serif;}

.bx-wrapper {
    -moz-box-shadow:0 none;
    -webkit-box-shadow:0 none;
    box-shadow:0 none;
    border:0 none;
    background:0 none;}

.bx-wrapper .bx-pager{
    bottom: 40px;
}

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #535353;
    padding-top: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #0043B0;
}


/* header */
header#header{min-width: 1200px;}
header#header .headerWrap{width: 100%;background-color: #0044AF;}
header#header .headerWrap .header1{width: 1200px;margin: 0 auto;}
header#header .headerWrap .header1 .headerTab{float: left;}
header#header .headerWrap .header1 .headerTab li{width: 120px;margin-right: 2px;float: left;}
header#header .headerWrap .header1 .headerTab a{
    display: block;text-align: center;line-height: 40px;
    color:#fff;font-weight: bold;background: #00163B;
}
header#header .headerWrap .header1 .headerTab a:active,
header#header .headerWrap .header1 .headerTab a:hover{
    background: #fff;color:#6B6B6B;
}

header#header .headerWrap .header1 .util{float: right;}
header#header .headerWrap .header1 .util li{float: left;padding: 0 6px}
header#header .headerWrap .header1 .util li>a{
    display: block;text-align: center;line-height: 40px;
    font-size: 12px;font-weight: bold;color: #fff;
}
header#header .headerWrap .header1 .util li:first-child>a:first-child{color:#D1D1D3;}
header#header .headerWrap .header1 .util li:nth-child(2) a{
    float: left;background: #fff; color: #9B9B9B;
    line-height: 20px;width: 20px;padding: 0;text-align: center;
    margin-right: 2px;margin-top: 10px;
}


header#header .header2{width: 1200px;margin: 0 auto;position: relative;}
header#header .header2 .headlogo{margin: 32px 0;position: relative;width: 230px;}
.headlogo .logo{width: 58px;}
header#header .header2 .headlogo .logotxt{
    position: absolute;right: 0;top: 5px;
    margin: 0 10px;color: #6C6C6C;
}
.logotxt h2{font-size: 26px;letter-spacing: 5px;position: relative;margin-bottom: 5px;}
.logotxt h2:after{
    content:"";width: 147px;height: 1px;background-color: #D2D2D2;
    position: absolute;bottom: -2px;left: 0;
}
.logotxt h4{font-size: 14px;letter-spacing: -6%;}


header#header .headGnb{position: absolute;right: 0;top: 20px;}
header#header .headGnb .gnb{width: 595px;}
header#header .headGnb li{float: left;width: 20%;}
header#header .headGnb a{
    display: block;text-align: center;line-height: 20px;
    font-size: 20px;color: #464646;
}

/* content */
div#content{
    background-image: url(../images/dot.png),url(../images/main_bg01.jpg);
    min-width: 1200px;background-repeat: repeat,no-repeat;
    background-size: auto,cover;
    background-position: center;
}
div#content .content1{width: 1200px;margin: 0 auto;padding-top: 65px;margin-bottom: 42px;}

div#content .content1 .con_txt{color:#fff;display: inline-block;}
div#content .content1 .con_txt h2{font-size: 50px;margin-bottom: 11px;letter-spacing: -3px;font-weight: normal;}
div#content .content1 .con_txt h1{font-size: 72px;font-weight: bold;letter-spacing: -7px;}

div#content .content1 .con_icon{width: 438px;float: right;padding-top: 13px;}
div#content .content1 .con_icon li{
    float: left;width: 102px;margin-right: 10px;
    font-weight: bold;height: 120px;position: relative;cursor: pointer;
}
div#content .content1 .con_icon li p{
    font-size: 14px;color:#fff;position: absolute;bottom: 0;
    ;text-align: center;width: 102px;letter-spacing: 1px;
}
div#content .content1 .con_icon li:last-child{margin-right:0;}

div#content .content1 .con_icon li div.icon{
    background-image: url(../images/icon.png);width: 102px;height: 102px;background-repeat: no-repeat;
}
div#content .content1 .con_icon li:nth-child(1) .icon{background-position: -12px -8px;}
div#content .content1 .con_icon li:nth-child(2) .icon{background-position: -108px -8px;}
div#content .content1 .con_icon li:nth-child(3) .icon{background-position: -205px -8px;}
div#content .content1 .con_icon li:nth-child(4) .icon{background-position: -302px -8px;}

div#content .content2{width: 1200px;height: 900px;margin: 0 auto;background: skyblue;}
div#content .content2>ul>li{float: left;width: 25%;height: 225px;}
div#content .content2>ul>li:nth-child(1){width: 75%;height: 450px;}
div#content .content2>ul>li:nth-child(2){height: 450px;}
div#content .content2>ul>li:nth-child(8){width: 75%;}

div#content .content2 li.conBox1{position: relative;}
div#content .content2 li.conBox1 .conB_txt{position: absolute;left: 87px;top: 83px;}
div#content .content2 li.conBox1 .conB_txt h1{font-size: 70px;font-weight: normal;color: #1651B7;margin-bottom: 19px;}
div#content .content2 li.conBox1 .conB_txt .btn{
    width: 168px;height: 40px;background-color: #192D4E;
    position: relative;cursor: pointer;
}
div#content .content2 li.conBox1 .conB_txt .btn p{
    font-size: 16px;font-weight: bold;color:#fff;
    position: absolute;left: 39px;top: 11px;
}
div#content .content2 li.conBox1 .conB_txt .btn img{position: absolute;right: 39px;top: 15px;}

div#content .content2 li.conBox1 .nextBtn{position: absolute;right: 0;top: 188px;cursor: pointer;}
div#content .content2 li.conBox1 .prevBtn{position: absolute;left: 0;top: 188px;cursor: pointer;}

div#content .content2 li.conBox2{
    background-image: url(../images/content01.png);
}
div#content .content2 li.conBox2 .conB_txt2{
    padding: 70px 0 0 30px;
}

div#content .content2 li.conBox2 .conB_txt2 h2{
    font-size: 39px;font-weight: normal;color: #fff;
    margin-bottom: 22px;
}
div#content .content2 li.conBox2 .conB_txt2 h4{
    font-size: 18px;font-weight: normal;color: #fff;
    line-height: 26px;margin-bottom: 35px;
}
div#content .content2 li.conBox2 .conB_txt2 .txt2_btn{
    width: 170px;height: 42px;
    border: 1px solid rgba(256,256,256,0.7);
    background-color: rgba(0,0,0,0.4);

    position: relative;cursor: pointer;
}
div#content .content2 li.conBox2 .conB_txt2 .txt2_btn p{
    font-size: 16px;font-weight: bold;color:#fff;
    position: absolute;left: 39px;top: 11px;
}
div#content .content2 li.conBox2 .conB_txt2 .txt2_btn img{position: absolute;right: 39px;top: 15px;}