@charset "utf-8";
body{font-family: 'Nanum Gothic', sans-serif;}

.bx-wrapper {
    -moz-box-shadow:0 none;
    -webkit-box-shadow:0 none;
    box-shadow:0 none;
    border:0 none;
    background:0 none;}

.bx-wrapper .bx-pager{
    bottom: 40px;
}

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #535353;
    padding-top: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #0043B0;
}


/* header */
header#header{}
header#header .headerWrap{width: 100%;background-color: #0044AF;}
header#header .headerWrap .header1{width: 1200px;margin: 0 auto;position: relative;}
header#header .headerWrap .header1 .headerTab{width: 364px;height: 40px;}
header#header .headerWrap .header1 .headerTab li{width: 120px;margin-right: 2px;float: left;}
header#header .headerWrap .header1 .headerTab li>a{
    display: block;text-align: center;line-height: 40px;
    color:#fff;font-weight: bold;
}
header#header .headerWrap .header1 .headerTab li:first-child>a:first-child{color:#6B6B6B}

header#header .headerWrap .header1 .headerTab li:nth-child(1){background-color: #fff;}
header#header .headerWrap .header1 .headerTab li:nth-child(2){background-color: #00163B;}
header#header .headerWrap .header1 .headerTab li:nth-child(3){margin-right: 0;background-color: #00163B;}

header#header .headerWrap .header1 .util{width: 290px;position: absolute;right: 0;top: 0;}
header#header .headerWrap .header1 .util li{float: left;padding: 0 6px;}
header#header .headerWrap .header1 .util li>a{
    display: block;text-align: center;line-height: 40px;
    font-size: 12px;font-weight: bold;color: #fff;
}
header#header .headerWrap .header1 .util li:first-child>a:first-child{color:#D1D1D3;}
.box{width: 34px;height: 16px;position: relative;}
.box p{color: #9B9B9B ;}
.box .minor{
    width: 16px;height: 16px;background-color: #fff;
    position: absolute;left: 0;top: 12px;
    display: flex;justify-content: center;align-items: center;
}
.box .plus{
    width: 16px;height: 16px;background-color: #fff;
    position: absolute;right: 0;top: 12px;
    display: flex;justify-content: center;align-items: center;
}


header#header .header2{width: 1200px;margin: 0 auto;position: relative;}
header#header .header2 .headlogo{margin: 32px 0;position: relative;width: 230px;}
.headlogo .logo{width: 58px;}
header#header .header2 .headlogo .logotxt{
    position: absolute;right: 0;top: 5px;
    margin: 0 10px;color: #6C6C6C;
}
.logotxt h2{font-size: 26px;letter-spacing: 5px;position: relative;margin-bottom: 5px;}
.logotxt h2:after{
    content:"";width: 147px;height: 1px;background-color: #D2D2D2;
    position: absolute;bottom: -2px;left: 0;
}
.logotxt h4{font-size: 14px;letter-spacing: -6%;}


header#header .headGnb{position: absolute;right: 0;top: 20px;}
header#header .headGnb .gnb{width: 595px;}
header#header .headGnb li{float: left;width: 20%;}
header#header .headGnb a{
    display: block;text-align: center;line-height: 20px;
    font-size: 20px;color: #464646;
}

/* content */
div#content{
    background-image: url(../images/bg01.jpg);background-repeat: no-repeat;
}
div#content .content1{width: 1200px;margin: 0 auto;padding-top: 65px;margin-bottom: 42px;}

div#content .content1 .con_txt{color:#fff;display: inline-block;}
div#content .content1 .con_txt h2{font-size: 50px;margin-bottom: 11px;letter-spacing: -3px;font-weight: normal;}
div#content .content1 .con_txt h1{font-size: 72px;font-weight: bold;letter-spacing: -7px;}

div#content .content1 .con_icon{width: 438px;float: right;padding-top: 13px;}
div#content .content1 .con_icon li{
    float: left;width: 102px;margin-right: 10px;
    font-weight: bold;height: 120px;position: relative;cursor: pointer;
}
div#content .content1 .con_icon li p{
    font-size: 14px;color:#fff;position: absolute;bottom: 0;
    ;text-align: center;width: 102px;letter-spacing: 1px;
}
div#content .content1 .con_icon li:last-child{margin-right:0;}

div#content .content1 .con_icon li div.icon{
    background-image: url(../images/icon.png);width: 102px;height: 102px;background-repeat: no-repeat;
}
div#content .content1 .con_icon li:nth-child(1) .icon{background-position: -12px -8px;}
div#content .content1 .con_icon li:nth-child(2) .icon{background-position: -108px -8px;}
div#content .content1 .con_icon li:nth-child(3) .icon{background-position: -205px -8px;}
div#content .content1 .con_icon li:nth-child(4) .icon{background-position: -302px -8px;}

div#content .content2{width: 1200px;height: 900px;margin: 0 auto;background: skyblue;}

div#content .content2 li.conBox1{
    width: 75%;height: 50%;position: relative;
}
div#content .content2 li.conBox1 .conB_txt{-padding: 83px 87px;position: absolute;left: 87px;top: 83px;}
div#content .content2 li.conBox1 .conB_txt h1{font-size: 70px;font-weight: normal;color: #1651B7;margin-bottom: 19px;}
div#content .content2 li.conBox1 .conB_txt .btn{
    width: 168px;height: 40px;background-color: #192D4E;
    position: relative;cursor: pointer;
}
div#content .content2 li.conBox1 .conB_txt .btn p{
    font-size: 16px;font-weight: bold;color:#fff;
    position: absolute;left: 39px;top: 11px;
}
div#content .content2 li.conBox1 .conB_txt .btn img{position: absolute;right: 39px;top: 15px;}

div#content .content2 li.conBox1 .nextBtn{position: absolute;right: 0;top: 188px;}
div#content .content2 li.conBox1 .prevBtn{position: absolute;left: 0;top: 188px;}